.container {
  background: rgb(106, 41, 41);
  background-size: cover;
  color: #454545;
  aspect-ratio: 16/9;
  width: 100%;
}

.outer {
  border-radius: 20px;
  border: 2px solid #454545;
  max-width: 600px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
}
